
*{
    margin: 0;
    padding: 0;
}.navbar{
    /* margin-bottom: 10px; */
    background-color: red;
    height: 10vh;
    
}

.box2{
   
    background-color: black;
    /* width: 250px; */
    height: 250px;
}
.box-section1{
    display: flex;
    height: 200px;
    align-items: center;
    background-color: white;

   

  
}
 .bar{
    background-color: blueviolet;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    width: 250px;
    height: 150px;
   
}
.section1{
   
    margin-right: 20px;
}
.section2{
    margin-right: 20px;
}
.section3{
    margin-right: 20px;
}
.box-section2{
    display: flex;
    align-items: center;
    background-color: white;
    height: 200px;

    
}

.footer{
    
    background-color: red;
   
    height: 250px;
}